[submodule "vircadia-world-meta"]
	path = vircadia-world-meta
	url = https://github.com/vircadia/vircadia-world-meta
[submodule "vircadia-world-sdk-py"]
	path = vircadia-world-sdk-py
	url = https://github.com/vircadia/vircadia-world-sdk-py.git
